<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<dom-module id="mi-login1">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }

      div.card-header  {
        text-align: center;
      }

      paper-card{
        text-align: left;
        width: 500px;
        padding: 30px;
        font-size: 20px;
      }

      paper-card .card-header iron-icon{
        height: 100px;
        width: 100px;

      }

      paper-card .card-actions{
        text-align: center;
        padding-top: 50px;
      }

      #cancelar{
        width: 100px;
        background-color: var(--paper-purple-700);
        color: white;
      }

      #login {
        width: 100px;
        background-color: var(--paper-purple-100);
        color: white;
      }

    </style>

<paper-card elevation="3" animated-shadow="false">
    <div class="card-header">
      <iron-icon icon="account-circle"></iron-icon>
     <h2> L O G I N </h2>
    </div>
    <form is="iron-form" id="form">
      <div class="card-content">
        <paper-input label="Usuario" type="text" required id="user"></paper-input>
        <br>
        <paper-input label="Contraseña" type="password" required id="pass"></paper-input>
        <br>
        <a class="mi-enlace" href="#"> Olvide mi contraseña...</a>
          
       
      </div>
      <div class="card-actions">
        <button raised type="submit" id="login" on-click="validar">Enviar</button>
        <button type="submit" id="cancelar">Cancelar</button>
       <!--  <paper-button raised id="login">Enviar</paper-button> -->
       <!--  <paper-button>Cancelar</paper-button>   -->  
        
      </div>
    </form>
  </paper-card>
  <template is="dom if" if="[[!validar]]">
      <paper-card elevation="3" animated-shadow="false">
        <div class="card-header">
            <iron-icon icon="account-circle"></iron-icon>
            <h2> Bienvenidos </h2>
        </div>
      </paper-card>
  
    </template>

  </template>

  <script>
    /**
     * `mi-login1`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiLogin1 extends Polymer.Element {
      static get is() { return 'mi-login1'; }
      static get properties() {
        return {
          usario: {
            type: String,
            value: [{
              username: 'poncho',
              password: '123'
            }]
          },
          acceso: {
            type: String,
            value: " "
          },
         

          };
        }
        validar(){
          let us = this.shadowRoot.getElementById('user');
          let ps = this.shadowRoot.getElementById('pass');

          console.log(us.value,ps.value);
          this.usario.forEach(key => {
            if(us.value == key.username  && ps.value == key.password){
              console.log(us.value, ps.value, key.username, key.password);
              this.acceso = key.username;
            }
            
          });
        }
      }

    window.customElements.define(MiLogin1.is, MiLogin1);
  </script>
</dom-module>
